table.table {
    border-collapse: collapse;
}

table.table td, table.table th {
    border: 1px solid black;
    text-align: center;
    padding: 0.15rem 1rem;

}

input.search-bar {
    border: 1px solid gray;
    border-radius: 50vh;
    width: 10rem;
    padding: 0.15rem 0.5rem;
}
