
body {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 38rem;
}

.completed {
    text-decoration: line-through;
}

.todo-label {
    user-select: none;
    margin-right: 1rem;
}

.todo-input {
    margin-right: 1rem;
}

button {
    font-size: 0.8rem;
}
